{% extends 'main/base.html' %}

{% block title %}
    change password
{% endblock %}
<html>

{% block content %}
<head>
    <style>

    </style>
</head>
<body class="text-center">
    <center>
        <form id="form" class="form-signin" method="POST">
            {% csrf_token %}
            <br><br><br>
            <div class="div_change_pass">
                <h5 class="h">Enter new password:</h5>
                <br>
                <input type="text" class="text" id="inputNewPassword" placeholder="new password" name="new_pass" required autofocus>
                <br><br>
                <button class="submit_change_pass" type="submit">Change Password</button>
                <!--<input type="submit" class="submit_change_pass" value="Change Password" >-->
            </div>
        </form>
    </center>
</body>
{% endblock %}
</html>