<!doctype html>
{% extends 'main/base.html' %}
<html lang="en">
<head>

{% block title %}
    Login
{% endblock %}

</head>

<body>
{% block content %}
    <form method="POST">
        <br><br>
        <center>
        {% csrf_token %}
        <div class="div_login">

            <br>
            <h1 class="h"><b>Sign In</b></h1>
            <br><br>
            <!--<img src="/static/image/background2.jpg">-->
            <input type="text" id="inputEmail" class="text" placeholder="Email" name="email" required autofocus>
            <br>
            <input type="password" id="inputPassword" class="password" placeholder="Password" name="password" required>
            <br>
            <button class="submit" type="submit">Sign in</button>
            <br><br>
            <div class="checkbox mb-3">
                <h6 class="h">Don't Have an account? </h6>
                <h6 class="h">Contact an administrator </h6>
            </div>

        </div>
        </center>
    </form>
{% endblock %}
</body>

</html>